@media all and (max-width:420px) {
  img {
  margin-top:10px;
 }

  .row{
      width: 100%;
      margin: auto;
   }

  #lezioni .row>.left, #lezioni .row>.right{
      width: 100%;
      float: none;
   }

  #steps .row>.left, #steps .row>.central, #steps .row>.right {
  float: none;
  width: 100%;
  }

}
