@media all and (max-width:770px) {
  body{
    font-size: 20px;
  }

  img {
  height: 200px;
  margin-top:10px;
 }

  .row{
      width: 100%;
      margin: auto;
   }

  #lezioni .row>.left, #lezioni .row>.right{
      width: 50%;
      /* font-size: 25px */
   }

  #steps .row>.left, #steps .row>.central, #steps .row>.right {
  float: none;
  width: 100%;
  /* font-size: 25px; */
  }

}
